In [17]:
# NOTE: This does NOT have points close to real ones removed!

import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import sklearn

crime = pd.read_csv('E:/Vancouver Crime Final/Synthetic Data/both_bne_500k_notwithin_1week_25m.csv')


crime.head(20)

,type,datetime,year,month,day,hour,minute,Hour_Minute,hundred_block,utm_x,...,signal_200,trees_25,trees_100,rain_mm,snow_cm,total_precip_mm,temp_c,humidity,pressure,hours_of_light
0,Break and Enter Residential/Other,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,9XX W 15TH AVE,490791.12,...,2,0,32,21.6,0.0,21.6,5.8,81.0,101.70,9.53
1,Break and Enter Commercial,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,64XX VICTORIA DR,495220.95,...,2,5,40,21.6,0.0,21.6,5.8,81.0,101.70,9.53
2,Break and Enter Residential/Other,2003-01-01 00:00:00,2003,1,1,0,1,0.016667,34XX W 42ND AVE,486837.11,...,3,6,38,21.6,0.0,21.6,5.8,81.0,101.70,9.53
3,Break and Enter Residential/Other,2003-01-01 00:00:00,2003,1,1,0,20,0.333333,19XX PARKER ST,495279.46,...,1,8,88,21.6,0.0,21.6,5.8,81.0,101.70,9.53
4,Break and Enter Residential/Other,2003-01-01 01:01:00,2003,1,1,1,46,1.766667,45XX MAIN ST,492627.84,...,2,8,83,21.6,0.0,21.6,6.2,78.0,101.73,9.53
5,Break and Enter Residential/Other,2003-01-01 04:04:00,2003,1,1,4,0,4.000000,25XX GRAVELEY ST,496100.23,...,0,7,73,21.6,0.0,21.6,5.5,88.0,101.70,9.53
6,Break and Enter Residential/Other,2003-01-01 04:04:00,2003,1,1,4,30,4.500000,15XX SE MARINE DR,494572.37,...,1,0,41,21.6,0.0,21.6,5.5,88.0,101.70,9.53
7,Break and Enter Commercial,2003-01-01 06:06:00,2003,1,1,6,0,6.000000,5XX W GEORGIA ST,491507.39,...,10,2,27,21.6,0.0,21.6,5.5,96.0,101.58,9.53
8,Break and Enter Commercial,2003-01-01 07:07:00,2003,1,1,7,13,7.216667,18XX W 57TH AVE,489132.03,...,0,8,73,21.6,0.0,21.6,5.8,95.0,101.50,9.53
9,Break and Enter Commercial,2003-01-01 07:07:00,2003,1,1,7,13,7.216667,45XX FRASER ST,493431.80,...,2,2,19,21.6,0.0,21.6,5.8,95.0,101.50,9.53
10,Break and Enter Residential/Other,2003-01-01 07:07:00,2003,1,1,7,25,7.416667,7XX SEMLIN DR,495363.36,...,1,1,61,21.6,0.0,21.6,5.8,95.0,101.50,9.53
11,Break and Enter Residential/Other,2003-01-01 11:11:00,2003,1,1,11,0,11.000000,22XX TRIUMPH ST,495716.74,...,4,6,67,21.6,0.0,21.6,6.0,95.0,101.33,9.53
12,Break and Enter Commercial,2003-01-01 11:11:00,2003,1,1,11,0,11.000000,35XX FRASER ST,493447.88,...,1,3,51,21.6,0.0,21.6,6.0,95.0,101.33,9.53
13,Break and Enter Residential/Other,2003-01-01 11:11:00,2003,1,1,11,45,11.750000,38XX HEATHER ST,491248.44,...,1,8,93,21.6,0.0,21.6,6.0,95.0,101.33,9.53
14,Break and Enter Commercial,2003-01-01 12:12:00,2003,1,1,12,0,12.000000,5XX BEATTY ST,492024.04,...,10,0,39,21.6,0.0,21.6,5.7,95.0,101.35,9.53
15,Break and Enter Commercial,2003-01-01 12:12:00,2003,1,1,12,0,12.000000,7XX PACIFIC BLVD,492005.87,...,2,0,0,21.6,0.0,21.6,5.7,95.0,101.35,9.53
16,Break and Enter Residential/Other,2003-01-01 12:12:00,2003,1,1,12,0,12.000000,41XX VINE ST,488613.83,...,0,0,4,21.6,0.0,21.6,5.7,95.0,101.35,9.53
17,Break and Enter Commercial,2003-01-01 12:12:00,2003,1,1,12,49,12.816667,28XX BENTALL ST,497676.19,...,3,0,13,21.6,0.0,21.6,5.7,95.0,101.35,9.53
18,Break and Enter Residential/Other,2003-01-01 15:15:00,2003,1,1,15,30,15.500000,30XX E KENT N AVE,496782.22,...,1,5,49,21.6,0.0,21.6,5.8,90.0,101.25,9.53
19,Break and Enter Residential/Other,2003-01-01 16:16:00,2003,1,1,16,30,16.500000,28XX E 22ND AVE,496722.62,...,1,6,46,21.6,0.0,21.6,6.4,88.0,101.28,9.53

In [18]:
# Set Break and ENters to 1 and everything else to 0

crime = crime.replace(['NONE'], 0)

crime = crime.replace(['Break and Enter Residential/Other', 'Break and Enter Commercial'], 1)
crime.head()

,type,datetime,year,month,day,hour,minute,Hour_Minute,hundred_block,utm_x,...,signal_200,trees_25,trees_100,rain_mm,snow_cm,total_precip_mm,temp_c,humidity,pressure,hours_of_light
0,1,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,9XX W 15TH AVE,490791.12,...,2,0,32,21.6,0.0,21.6,5.8,81.0,101.70,9.53
1,1,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,64XX VICTORIA DR,495220.95,...,2,5,40,21.6,0.0,21.6,5.8,81.0,101.70,9.53
2,1,2003-01-01 00:00:00,2003,1,1,0,1,0.016667,34XX W 42ND AVE,486837.11,...,3,6,38,21.6,0.0,21.6,5.8,81.0,101.70,9.53
3,1,2003-01-01 00:00:00,2003,1,1,0,20,0.333333,19XX PARKER ST,495279.46,...,1,8,88,21.6,0.0,21.6,5.8,81.0,101.70,9.53
4,1,2003-01-01 01:01:00,2003,1,1,1,46,1.766667,45XX MAIN ST,492627.84,...,2,8,83,21.6,0.0,21.6,6.2,78.0,101.73,9.53

In [19]:
crime

,type,datetime,year,month,day,hour,minute,Hour_Minute,hundred_block,utm_x,...,signal_200,trees_25,trees_100,rain_mm,snow_cm,total_precip_mm,temp_c,humidity,pressure,hours_of_light
0,1,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,9XX W 15TH AVE,490791.120000,...,2,0,32,21.6,0.0,21.6,5.8,81.0,101.70,9.53
1,1,2003-01-01 00:00:00,2003,1,1,0,0,0.000000,64XX VICTORIA DR,495220.950000,...,2,5,40,21.6,0.0,21.6,5.8,81.0,101.70,9.53
2,1,2003-01-01 00:00:00,2003,1,1,0,1,0.016667,34XX W 42ND AVE,486837.110000,...,3,6,38,21.6,0.0,21.6,5.8,81.0,101.70,9.53
3,1,2003-01-01 00:00:00,2003,1,1,0,20,0.333333,19XX PARKER ST,495279.460000,...,1,8,88,21.6,0.0,21.6,5.8,81.0,101.70,9.53
4,1,2003-01-01 01:01:00,2003,1,1,1,46,1.766667,45XX MAIN ST,492627.840000,...,2,8,83,21.6,0.0,21.6,6.2,78.0,101.73,9.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
597469,0,2016-10-29 16:05:00,2016,10,29,16,5,16.083333,40XX BOUNDARY RD,498263.140760,...,0,4,27,6.4,0.0,6.4,11.0,89.0,101.34,11.08
597470,0,2007-10-02 23:40:00,2007,10,2,23,40,23.666667,37XX W 31ST AVE,486377.345932,...,2,9,45,5.2,0.0,5.2,9.5,87.0,100.86,12.66
597471,0,2006-10-03 09:29:00,2006,10,3,9,29,9.483333,42XX YUKON ST,491831.626717,...,0,8,67,0.0,0.0,0.0,11.9,84.0,102.09,12.58
597472,0,2005-02-02 05:29:00,2005,2,2,5,29,5.483333,19XX W 39TH AVE,489136.700000,...,0,8,69,0.0,0.0,0.0,8.2,90.0,102.93,10.63
597473,0,2013-11-26 22:01:00,2013,11,26,22,1,22.016667,E 35TH AVE / KNIGHT ST,494415.830000,...,3,2,31,0.0,0.0,0.0,5.8,84.0,102.00,9.87

In [20]:
### Begin Processing the Data


# Import Pre-processing module
from sklearn import preprocessing

# Create Label Encoder
le = preprocessing.LabelEncoder()

# Convert the string columns to numeric
# .astype(str) to ensude they are read as strings and not as mixed types
crime['datetime'] = le.fit_transform(crime['datetime'].astype(str))
crime['hundred_block'] = le.fit_transform(crime['hundred_block'].astype(str))


# Display the results
crime

,type,datetime,year,month,day,hour,minute,Hour_Minute,hundred_block,utm_x,...,signal_200,trees_25,trees_100,rain_mm,snow_cm,total_precip_mm,temp_c,humidity,pressure,hours_of_light
0,1,0,2003,1,1,0,0,0.000000,14804,490791.120000,...,2,0,32,21.6,0.0,21.6,5.8,81.0,101.70,9.53
1,1,0,2003,1,1,0,0,0.000000,11850,495220.950000,...,2,5,40,21.6,0.0,21.6,5.8,81.0,101.70,9.53
2,1,0,2003,1,1,0,1,0.016667,7276,486837.110000,...,3,6,38,21.6,0.0,21.6,5.8,81.0,101.70,9.53
3,1,0,2003,1,1,0,20,0.333333,2686,495279.460000,...,1,8,88,21.6,0.0,21.6,5.8,81.0,101.70,9.53
4,1,5,2003,1,1,1,46,1.766667,9186,492627.840000,...,2,8,83,21.6,0.0,21.6,6.2,78.0,101.73,9.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
597469,0,454815,2016,10,29,16,5,16.083333,8571,498263.140760,...,0,4,27,6.4,0.0,6.4,11.0,89.0,101.34,11.08
597470,0,159733,2007,10,2,23,40,23.666667,7850,486377.345932,...,2,9,45,5.2,0.0,5.2,9.5,87.0,100.86,12.66
597471,0,126453,2006,10,3,9,29,9.483333,8893,491831.626717,...,0,8,67,0.0,0.0,0.0,11.9,84.0,102.09,12.58
597472,0,70747,2005,2,2,5,29,5.483333,2739,489136.700000,...,0,8,69,0.0,0.0,0.0,8.2,90.0,102.93,10.63
597473,0,359521,2013,11,26,22,1,22.016667,17132,494415.830000,...,3,2,31,0.0,0.0,0.0,5.8,84.0,102.00,9.87

In [21]:
# Scale the Data

columns = [col for col in crime if col not in ['type']]


# Properly scale the reduced set of features
features = crime[columns]

from sklearn.preprocessing import MinMaxScaler
scaler = preprocessing.MinMaxScaler()

print(scaler.fit(features))

MinMaxScaler(copy=True, feature_range=(0, 1))

In [22]:
# Properly scale the features

columns = [col for col in crime if col not in ['type']]

# Properly scale the reduced set of features
features = crime[columns]


scaler = MinMaxScaler().fit(features.values) # scaler = MinMaxScaler().fit(features.values)
features = scaler.transform(features.values) # features = scaler.transform(features.values)
crime[columns] = features
crime

,type,datetime,year,month,day,hour,minute,Hour_Minute,hundred_block,utm_x,...,signal_200,trees_25,trees_100,rain_mm,snow_cm,total_precip_mm,temp_c,humidity,pressure,hours_of_light
0,1,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.673368,0.485327,...,0.133333,0.000000,0.244275,0.235808,0.0,0.235808,0.408421,0.781609,0.612081,0.010909
1,1,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.539004,0.788720,...,0.133333,0.151515,0.305344,0.235808,0.0,0.235808,0.408421,0.781609,0.612081,0.010909
2,1,0.000000,0.0000,0.000000,0.000000,0.000000,0.016949,0.000695,0.330953,0.214522,...,0.200000,0.181818,0.290076,0.235808,0.0,0.235808,0.408421,0.781609,0.612081,0.010909
3,1,0.000000,0.0000,0.000000,0.000000,0.000000,0.338983,0.013899,0.122174,0.792727,...,0.066667,0.242424,0.671756,0.235808,0.0,0.235808,0.408421,0.781609,0.612081,0.010909
4,1,0.000009,0.0000,0.000000,0.000000,0.043478,0.779661,0.073662,0.417830,0.611121,...,0.133333,0.242424,0.633588,0.235808,0.0,0.235808,0.416842,0.747126,0.616107,0.010909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
597469,0,0.832700,0.8125,0.818182,0.933333,0.695652,0.084746,0.670605,0.389857,0.997076,...,0.000000,0.121212,0.206107,0.069869,0.0,0.069869,0.517895,0.873563,0.563758,0.198788
597470,0,0.292448,0.2500,0.818182,0.033333,1.000000,0.677966,0.986796,0.357062,0.183033,...,0.133333,0.272727,0.343511,0.056769,0.0,0.056769,0.486316,0.850575,0.499329,0.390303
597471,0,0.231517,0.1875,0.818182,0.066667,0.391304,0.491525,0.395413,0.404503,0.556590,...,0.000000,0.242424,0.511450,0.000000,0.0,0.000000,0.536842,0.816092,0.664430,0.380606
597472,0,0.129527,0.1250,0.090909,0.033333,0.217391,0.491525,0.228631,0.124585,0.372018,...,0.000000,0.242424,0.526718,0.000000,0.0,0.000000,0.458947,0.885057,0.777181,0.144242
597473,0,0.658231,0.6250,0.909091,0.833333,0.956522,0.016949,0.917999,0.779259,0.733578,...,0.200000,0.060606,0.236641,0.000000,0.0,0.000000,0.408421,0.816092,0.652349,0.052121

In [23]:
# split training data into training and testing
from sklearn.model_selection import train_test_split

# Select columns to that are data
cols = [col for col in crime if col not in ['type']]

X = crime[cols]

# Select target data
y = crime['type']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=100, test_size=0.3)
print(X_train.shape)

(418231, 29)

In [24]:
# Trying Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel

model_tree = RandomForestClassifier(random_state=100, n_estimators=50)
model_tree.fit(X_train, y_train)
print(model_tree.feature_importances_)
sel_model_tree = SelectFromModel(estimator=model_tree, prefit=True, threshold='mean')  
      # since we already fit the data, we specify prefit option here
      # Features whose importance is greater or equal to the threshold are kept while the others are discarded.
X_train_sfm_tree = sel_model_tree.transform(X_train)
print(sel_model_tree.get_support())

feature_importances = pd.DataFrame(model_tree.feature_importances_,
                                   index = X_train.columns,
                                    columns=['importance']).sort_values('importance', 
                                                                        ascending=False)
feature_importances

[0.03320522 0.01697525 0.01350465 0.02142339 0.01944039 0.30668001
 0.04227293 0.10326899 0.03754843 0.04146442 0.03993103 0.03765856
 0.0111876  0.01513215 0.02072996 0.03048241 0.00218873 0.0027957
 0.00919026 0.01497894 0.02159158 0.0298963  0.01245437 0.00150362
 0.0126798  0.02621284 0.02297757 0.02703077 0.02559414]
[False False False False False  True  True  True  True  True  True  True
 False False False False False False False False False False False False
 False False False False False]

                 importance
minute             0.306680
hundred_block      0.103269
Hour_Minute        0.042273
utm_y              0.041464
latitude           0.039931
longitude          0.037659
utm_x              0.037548
datetime           0.033205
light_pole_100     0.030482
trees_100          0.029896
pressure           0.027031
temp_c             0.026213
hours_of_light     0.025594
humidity           0.022978
trees_25           0.021592
day                0.021423
light_pole_50      0.020730
hour               0.019440
year               0.016975
light_pole_25      0.015132
signal_200         0.014979
month              0.013505
total_precip_mm    0.012680
rain_mm            0.012454
light_pole_12_5    0.011188
signal_100         0.009190
signal_50          0.002796
signal_25          0.002189
snow_cm            0.001504

In [25]:
# Simple Neural Network

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor

# import needed modules
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import r2_score

In [26]:
# Try using the MLP Classifier
mlp = MLPClassifier(hidden_layer_sizes=(29, 29, 29), activation='relu', solver='adam', max_iter=300)
mlp.fit(X_train, y_train)

predict_train = mlp.predict(X_train)
predict_test = mlp.predict(X_test)

In [27]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_train, predict_train))
print(classification_report(y_train, predict_train))

[[334820  10449]
 [ 28395  44567]]
              precision    recall  f1-score   support

           0       0.92      0.97      0.95    345269
           1       0.81      0.61      0.70     72962

    accuracy                           0.91    418231
   macro avg       0.87      0.79      0.82    418231
weighted avg       0.90      0.91      0.90    418231

In [28]:
print(confusion_matrix(y_test, predict_test))
print(classification_report(y_test, predict_test))

[[143626   4442]
 [ 12228  18947]]
              precision    recall  f1-score   support

           0       0.92      0.97      0.95    148068
           1       0.81      0.61      0.69     31175

    accuracy                           0.91    179243
   macro avg       0.87      0.79      0.82    179243
weighted avg       0.90      0.91      0.90    179243

In [ ]:
# Try using the MLP Classifier
mlp = MLPClassifier(hidden_layer_sizes=(29, 29, 29, 29, 29, 29), activation='relu', solver='adam', max_iter=200)
mlp.fit(X_train, y_train)

predict_train = mlp.predict(X_train)
predict_test = mlp.predict(X_test)

In [ ]:
print(confusion_matrix(y_train, predict_train))
print(classification_report(y_train, predict_train))

In [ ]:
print(confusion_matrix(y_test, predict_test))
print(classification_report(y_test, predict_test))

In [ ]:
############################# END HERE ###################################

In [ ]:
# try a different split
# split training data into training and testing
from sklearn.model_selection import train_test_split

# Select columns to that are data
cols = [col for col in crime if col not in ['type']]

X = crime[cols]

# Select target data
y = crime['type']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=100, test_size=0.3)
print(X_train.shape)

In [ ]:
# Try using the MLP Classifier
mlp = MLPClassifier(hidden_layer_sizes=(29, 29, 29), activation='relu', solver='adam', max_iter=200)
mlp.fit(X_train, y_train)

predict_train = mlp.predict(X_train)
predict_test = mlp.predict(X_test)

In [ ]:
print(confusion_matrix(y_train, predict_train))
print(classification_report(y_train, predict_train))

In [ ]:
print(confusion_matrix(y_test, predict_test))
print(classification_report(y_test, predict_test))

In [ ]:
# Trying Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel

model_tree = RandomForestClassifier(random_state=100, n_estimators=50)
model_tree.fit(X_train, y_train)
print(model_tree.feature_importances_)
sel_model_tree = SelectFromModel(estimator=model_tree, prefit=True, threshold='mean')  
      # since we already fit the data, we specify prefit option here
      # Features whose importance is greater or equal to the threshold are kept while the others are discarded.
X_train_sfm_tree = sel_model_tree.transform(X_train)
print(sel_model_tree.get_support())

feature_importances = pd.DataFrame(model_tree.feature_importances_,
                                   index = X_train.columns,
                                    columns=['importance']).sort_values('importance', 
                                                                        ascending=False)
feature_importances