In [1]:
import pandas as pd

weather = pd.read_csv('E:/University/Fall 2019/COMP 4480 - Directed Studies/Final Data/Weather/Vancouver_Airport_Weather_Hourly.csv')

In [2]:
weather.shape

(146141, 6)

In [3]:
weather

,Date/Time,Temp (°C),Rel Hum (%),Visibility (km),Stn Press (kPa),Weather
0,2003-01-01 00:00,5.8,81.0,24.1,101.70,Cloudy
1,2003-01-01 01:00,6.2,78.0,24.1,101.73,Cloudy
2,2003-01-01 02:00,6.6,76.0,24.1,101.71,Cloudy
3,2003-01-01 03:00,5.5,88.0,24.1,101.73,Cloudy
4,2003-01-01 04:00,5.5,88.0,24.1,101.70,Cloudy
...,...,...,...,...,...,...
146136,2019-08-31 19:00,18.0,84.0,48.3,101.34,Mostly Cloudy
146137,2019-08-31 20:00,18.2,84.0,48.3,101.37,NaN
146138,2019-08-31 21:00,18.0,85.0,32.2,101.37,NaN
146139,2019-08-31 22:00,19.3,75.0,32.2,101.36,Mostly Cloudy
146140,2019-08-31 23:00,19.0,81.0,32.2,101.37,NaN